
body{
    background-color: rgb(158, 14, 6);
    color: rgb(0, 0, 0);
    font-family: "Epunda Slab", serif;
    margin: 0px;
}

header{
    font-size: 50px;
    text-align: center;
    border-bottom: double  5px rgb(94, 8, 8);
   /* margin: 30px;*/
   padding: 30px;
  color: rgb(0, 0, 0);
}

h1{
    font-size: 30px;
}

p{
    font-size: 20px;
}

section{
background-color: rgb(110, 30, 18);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;

}

.chamada-texto{
    margin-right: 10%;
}
