body{
    background-color: rgb(158, 14, 6);
    color: black;
    font-family: "Playfair Display", serif;
    margin: 0px;
}
    header{
        font-size: 50px;
        border: solid rgb(0, 0, 0); 
    }

    .chamada-texto{
        margin-right: 10%;
    }
